.UserParams {
  background: #000080;
  text-align: center;
  padding-top: 50px;

  .UserParams__title {
    font-size: 20px;
  }
  .TittleParametrs {
    background-color: #0000ff;
    padding: 10px;
    color: white;
    text-align: center;
    border-top-left-radius: 10px; /* Левый верхний уголок */
  }
}
