.UserParams {  background: #000080;

  .UserParams__title {
    font-size: 20px;
  }
  .TittleParametrs {
    background-color: #0000ff;
    padding: 10px;
    color: white;
    text-align: center;
    border-top-left-radius: 10px; /* Левый верхний уголок */
  }
  .ListGroup {
    background: #000080;
  }
}
