{
    "singleQuote": true,
    "trailingComma": "none",
    "jsxBracketSameLine": true,
    "endOfLine": "cr",
    "jsxSingleQuote": false,
    "tabWidth": 2,
    "printWidth": 80,
    "arrowParens": "avoid"
}