.VideoStream {  text-align: center;
  background: #000080;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .MainStreamBlock {
    width: 480px;
    height: 640px;
    background: white;
    border: 1px solid black;

    .VideoStreamStatus {
      display: flex;
      height: 30px;
      justify-content: space-around;
      padding-top: 2px;
      border-bottom: 1px solid black;
    }
  }
}
